<div class="home">
    <div class="slider">
        <carousel interval="myInterval">
            <slide ng-repeat="slide in slides" active="slide.active">
                <img ng-src="{{slide.image}}">
                <div class="carousel-caption">
                    <h4>Slide {{$index+1}}</h4>
                </div>
            </slide>
        </carousel>
    </div>
    <div class="row detail-view">
        <div class="col-xs-6">
            <div class="news-container">
                <div class="title-container">
                    <h1 class="pull-left">Latest News</h1>
                    <select ng-model="sortFactor" class="pull-right">
                        <option value="date">by Date</option>
                        <option value="title">by Title</option>
                    </select>
                </div>
                <div>
                    <div ng-repeat="item in news | orderBy: sortFactor" class="item {{currentNews==$index && visibleDescription ?'selected':''}}">
                        <p ng-click="changeCurrentView($index);">{{item.title}}<span class="pull-right">{{showDate(item.date)}}</span></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="img-container">
                <img src="{{news[currentNews].img}}">
            </div>    
        </div>
    </div>

    <div class="row description-view text-center" ng-if="visibleDescription">
        {{news[currentNews].description}}
    </div>
</div>